.settings{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    color: white;
    font-family: 'Nunito Sans';
    overflow: auto;
}

.settings main{
    max-width: 400px;
    margin: 0 auto;
}

.settings h1{
  font-family: 'Nunito Sans';
  text-align: center;
  padding: 20px;
}

.settings form{
  margin-bottom: 50px;
}

.settings input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.settings form button{
  margin: 0px auto;
  margin-top: 20px;
  width: 100%;
}

.settings form button:focus{
  box-shadow: none;
}

.settings .update{
    width: 100%;
    background: white;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans';
    cursor: pointer;
    text-align: center;
    border: solid lightgray;
    outline: none;
}

.settings .update:hover{
  background: lightgray;
}

.settings .delete{
  width: 100%;
  background: white;
  color: black;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Nunito Sans';
  cursor: pointer;
  text-align: center;
  border: solid lightgray;
  outline: none;
  
}