.Signup {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgb(0,0,0, 0.1)), url('./Images/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.Signup-title {
    font-family: 'Odibee Sans', cursive;
    font-size: 3em;
    margin-bottom: 30px;
}

.Signup form {
    min-width: 350px;
    margin: 50px 30px;
    padding: 15px 30px;
    background-color: RGBA(70,70,70,0.55);
    box-shadow: 0 0 8px 5px rgba(55,55,55,1);
    border-radius: 10px;
}

.Signup-submit-btn {
    width: 150px;
    height: 30px;
    margin: 20px 0 25px 0;
    background-color: RGBA(55,55,55,0.55);
    border-color: rgba(50,50,50,0.2);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Signup-submit-btn:hover {
    background-color: white;
    color: black;
    border-color: RGBA(55,55,55,0.55);
}

.Signup-input {
    margin: 20px 0px;
    padding: 5px;
}

.Signup-input-long {
    width: 363px;
}

.Signup h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.Signup-p {
    cursor: pointer;
}

.Signup-p:hover{
    text-decoration: underline;
}
