.composer{
  font-family: 'Tahoma';
}

.composer .user-block{
  background: #68bbee;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.composer .results-list{
  position: absolute;
}

.recipients-container{
  background: black;
}

.recipients-container button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 17.5px 24.3px;
    text-decoration: none;
    font-size: 17px;
    background-color: blue;
    border: none;
    cursor: pointer;
}

.recipients-container button:hover{
  background-color: blue;
}

.recipients-container button:focus{
  box-shadow: none;
  outline: none;
}

.recipients-container input:focus{
  box-shadow: none;
  outline: none;
}
  
.recipients-container .fa-search{
  color:white;
}

.recipients-container input{
  padding: 14px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 17px;
  width: 385px;
  height: 59.5px;
  background-color: black;
  color: white;
  border: none;
}