.To button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 17.5px 24.3px;
    text-decoration: none;
    font-size: 17px;
    background-color: blue;
    border: none;
    cursor: pointer;
    margin-top: 1.5px;
  }

  .To button:hover{
    background-color: blue;
    
  }
  
  .To .fa-search{
      color:white;
  }

  .To input{
    float: right;
    padding: 14px;
    margin-top: 1.5px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 17px;
    width: 385px;
    height: 59.5px;
    border: none;
    
  }