.expandChat{
    height: 100vh;
    background: #f1f0e8;
    font-family: 'Helvetica';
}

.expandChat .profile{
    width: 100%;
    background: #036055;
    height: 60px;
    padding: 0 10px;
    position: relative;
}

.expandChat .profilePic{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: auto 32px;
    margin-bottom: 13px;
}

.expandChat .profile h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
}

.expandChat .chat-box{
    padding: 20px;
}

.expandChat .msg-container{
    display: flex;
    width: 100%;
}

.expandChat .msg{
    max-width: 400px;
    padding: 1rem 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.9rem;
    width: auto;
}

.expandChat .read{
    margin: 10px 10px;
    float: right;
    color: darkblue;
}

.expandChat .fa-check{
    float: right;
    color: darkblue;
    margin-left: 5px;
}

.expandChat .msg.msg-r{
    background: #E2FFC7;
    margin-left: auto;
    margin-right: 2rem;
}

.expandChat .msg-l{
    background: lightgray;
    margin-left: 2rem;
    margin-right: auto;
}