.MessageCard {
    background-color: #DFDFDF;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
}

.MessageCard img {
    border-radius: 50%;
    width: 32px;
}

.MessageCard.active{
    background: white;
}