.searchMsgsList{
    margin: 0;
}

.searchMsgsList input{
    width: 100%;
    padding: 7px;
    font-family: 'Tahoma';
}

.searchMsgsList input:focus{
    outline: none;
    border: 2px lightblue solid;
}
