 .send-msg{
    position: fixed;
    width: 100%;
    background: #6262b4;
    bottom: 0;
    padding: 15px;
    font-family: 'Tahoma';
}

.send-msg textarea{
    position: relative;
    top: 10px;
    resize: none;
    max-width: 50%;
    display: inline-block;
    overflow: none;
    max-height: 200px;
}

.send-msg label{
    position: relative;
    font-size: 2rem;
    margin-left: 3rem;
    top: 3px;
    cursor: pointer;
    color: lightgray;
}