.user-composed-to{
    max-width: 300px;
    cursor: pointer;
    border: solid black 1px;
    border-bottom: none;
    margin-left: 15px;
}

.user-composed-to:hover{
    background-color: lightgray;
}

.user-composed-to:last-child{
    border-bottom: solid black 1px;
}

.user-composed-to img{
  width: 4rem;
  height: 4rem;
}

.user-composed-to p{
  display: inline-block;
  margin-left:10px;
}