
.NotificationCard i {
    font-size: 40px;
}

.accept {
    color: lightgreen;
    cursor: pointer;
}

.reject {
    color: red;
    cursor: pointer;
}

.NotificationCard-content {
    font-weight: 200;
}

.NotificationCard-msg {
    margin-top: 10px;
    margin-bottom: 10px;
}