.notifs{
  font-family: 'Nunito Sans';
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.notifs h1, .notifs h4{
  text-align: center;
  padding: 15px;
  color: #626060;
  font-weight: bold;
}

.notifs h4{
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
    margin-bottom: 0;
}

.notifs .row{
  cursor: pointer;
}

.notifs h3{
  font-family: 'Balsamiq Sans';
}