.home {
  width: 100%;
  height: 92vh;
  background: lightgray;
  overflow: auto;
}

.homeRow {
  height: 100%;
}

.cardTitle {
  color: #fff;
  background-color: royalblue;
  padding: 5px;
}

.homeCard {
  border: 2px solid royalblue; 
  border-radius: 0;
  transition: box-shadow 0.5s;
  overflow: hidden; 
}

.home .card:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.home .container{
  padding: 60px 
}

.home .card-footer {
  background-color: white !important;
}
.home .card-footer h3 {
  font-size: 32px;
}
.home .card-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.home .card-footer .btn {
  margin: 15px 4px;
}


.home .blueButton {
  background-color: royalblue;
  color: #fff;
}
.home .whiteButton {
  background-color: #fff;
  color: royalblue;
  border: 1px solid royalblue;
}

.home .blueButton:hover {
  border: 1px solid royalblue;
  background-color: lightskyblue !important;
  color: royalblue;
}

.home .whiteButton:hover {
  
  background-color: royalblue !important;
  color: white;
}

.home .slideanim {visibility:hidden;}
.home .slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}



@media screen and (max-width: 768px) {
  .home .col-lg-4 {
    text-align: center;
    margin: 25px 0;

  }
}
