
 .onlineFriend .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  

  .onlineFriend .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
  }
  
  .onlineFriend .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 2px solid #f7f7f7;
    height: 100px;
    margin: 0 !important;
    cursor: pointer;
    
  }
  .onlineFriend .sideBar-body:hover {
    background-color: #f2f2f2;
  }
  
  .onlineFriend .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }

  .onlineFriend .avatar-icon{
    position: relative;
  }
  
  .onlineFriend .avatar-icon img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 30px;
  }
  
  .onlineFriend .sideBar-main {
    padding: 0 !important;
  }
  
  .onlineFriend .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .onlineFriend .sideBar-name {
    padding: 10px !important;
  }
  
  .onlineFriend .name-meta {
    position: relative;
    bottom: -17px;
    left: 10px;
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }

  .onlineFriend .sideBar-time {
    padding: 10px !important;
  }
  
  .onlineFriend .time-meta {
    position: relative;
    font-size: 12px;
    bottom: 55px;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  
  .onlineFriend .activeIconOn {
    position: absolute;
    z-index: 1;
    left: 100px;
    bottom: 0px;
    margin: 0px -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #2bcd72;
  }