/* control img size and make pic cover card */
.userIMG {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
}

.ProfileCard label {
  margin-bottom: 0;
  cursor: pointer;
}

.whiteButton {
  background-color: #fff;
  color: royalblue;
  border: 1px solid royalblue;
}

.whiteButton:hover {
  background-color: royalblue !important;
  color: white;
}