 .send-msg{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #6262b4;
    padding: 15px;
    font-family: 'Tahoma';
}

.send-msg textarea{
    position: relative;
    top: 10px;
    resize: none;
    max-width: 50%;
    display: inline-block;
    overflow: none;
    max-height: 200px;
}

.send-msg label{
    position: relative;
    font-size: 2rem;
    margin-left: 3rem;
    top: 3px;
    cursor: pointer;
    color: lightgray;
}

.send-msg .fa-file-image:hover{
    color: white;
}

.send-msg input[type='file']{
    display: none;
}

.send-msg .photo{
    background: black;
    padding: 0 10px;
    cursor: pointer;
}

.send-msg .photo i{
    position: relative;
    left: 5px;
    top: 2px;
    color: red;
}