.Friends-title {
    margin-top: 10px;
}

.Friends-form {
    margin: 10px 0;
}

.card {
    width: 95%
}

.Friends-input {
    margin-left: 10px;
    padding-left: 5px;
}

.jumbotron {
    width: 100vw;
    height: 150px;
}
