.home {
  width: 100%;
  height: 92vh;
  background: lightgray;
  height: 92vh;
}

.homeRow {
  height: 100%;
}

.cardTitle {
  color: #fff;
  background-color: royalblue;
  padding: 5px;
  width: 100%;
}

.homeCard {
  border: 2px solid royalblue; 
  border-top: none;
  border-radius: 0;
  transition: box-shadow 0.5s;
  overflow: hidden; 
}

.homeCard:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, 0.4);
}


/* R: --- Eric to explain */
.home .slideanim {visibility:hidden;}
.home .slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .home .col-lg-4 {
    text-align: center;
    margin: 25px 0;
  }
}