  .onlineFriend {
    cursor: pointer;
  }

  .onlineFriend:hover {
    box-shadow: 3px 0px 3px rgba(0,0,0, 0.35);
  }
  
  .avatar-icon img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 10px;
  }
  
  .lastMsgTime {
    font-size: 11px;
  }
  
  .activeIconOn {
    position: absolute;
    z-index: 1;
    left: 100px;
    bottom: 0px;
    margin: 0px -30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #2bcd72;
  }