.login{
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgb(0,0,0, 0.1)), url('../../../images/background.jpg');
    font-family:'Nunito Sans';
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.login .navbar{
    height: auto;
}

.login nav{
    max-width: 905px;
    margin: 0 auto;
    background: #313131;
    opacity: 0.8;
}

.login .navbar-brand{
    font-size: 30px;
    color: #E8E8E8;
    font-family: 'Odibee Sans', cursive;
}

.login .navbar-toggler-icon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=fff');
}

.login .navbar-toggler:focus,
.login .navbar-toggler:active,
.login .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

.login .navbar-nav{
    margin: 20px;
    font-size: 18px;
    padding: 15px;
    text-align: left;
    background: #413f3f;
    color: #e8e8e8;
}

.login form{
    max-width: 330px;
    width: 100%;
    margin: 100px auto;
}

.login h2{
    font-weight: bold;
    color: #e8e8e8;
}

.login input{
    display: block;
    width: 100%;
    padding: 10px;
    border: lightblue 1px solid;
    font-family: 'Arial';
}

.login input:focus{
    outline: none;
    border-width: 2px;
    box-sizing: border-box;
}

.login form button{
    width: 100%;
    border-radius: 0;
}

.login p{
    cursor: pointer;
}

.login p:hover{
    text-decoration: underline;
}

@media screen and (min-width: 805px){
    .login .navbar-nav{
        font-size: 20px;
    }
}