.main{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

img{
    max-height: 300px;
    max-width: 150 px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)); 
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)); 
    }