.FoundFriendCard {
    padding: 0;
    margin: 0 10px;
}

#userIcon {
    width: 100%;
    height: 100%;
}

.FoundFriendCard .card-footer {
    background: #e8e8e8;
    cursor: pointer;
    color: gray;
}

.FoundFriendCard .card-footer:hover {
    color: black;
}

.FoundFriendCard img{
    max-height: 200px;
}