.FriendCard {
    width: 90%;
    min-height: 100px;
    padding: 10px;
}

.FriendCard .row {
    height: fit-content;
    width: 100%;
}

.card-title {
    margin: 0;
}

.delete {
    font-size: 36px;
    color: red;
}

.delete i {
    cursor: pointer;
}

.avatar {
    width: 90%;
    height: 90%;
}