.navbar {
    margin-bottom: 0 !important;
    min-height: 8vh;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link {
    margin-right: 24px;
    cursor: pointer;
}

nav {
    margin-bottom: 8px;
}